body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wallet-info {
	height: auto;
	font-size: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px;
	padding: 20px;
	overflow-wrap: break-word;
}

.wallet-info > h3 {
	text-align: center;
	font-size: 26px;
	margin: 2px !important;
}

.wallet-info > p {
	margin: 5px !important;
	text-align: left;
}

.text-center {
	text-align: center;
}

.button {
	border: 1px solid #ccc;
	background: transparent;
	padding: 5px 10px;
	font-family: 'Poppins', sans-serif;
	border-radius: 2px;
	font-size: 18px;
	cursor: pointer;
}

.button:focus, .button:active {
	outline: none;
}

.margin-medium {
	margin: 20px !important;
}

.block {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: auto;
	margin: 10px;
	height: auto;
}

.block-transaction {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}